.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative; /* Importante para que el menú móvil se posicione bien */
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.logoImg {
  height: 50px; /* Ajusta este valor según te guste más */
  width: auto; /* Mantiene la proporción */
  object-fit: contain;
}

/* --- MENÚ PARA COMPUTADORA --- */
.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: red;
}

/* BOTÓN HAMBURGUESA (Escondido por defecto) */
.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 5px;
}

/* Header.module.css */
.nav a[href="#simulador"] {
  color: #25d366; /* El verde de tu marca */
  font-weight: bold;
}

.nav a[href="#simulador"]:hover {
  color: green; /* El verde de tu marca */
  font-weight: bold;
}

.nav a[href="#tasador"] {
  color: rgb(69, 69, 255); /* El verde de tu marca */
  font-weight: bold;
}

.nav a[href="#tasador"]:hover {
  color: rgb(31, 31, 176); /* El verde de tu marca */
}

/* --- MODO RESPONSIVE (CELULARES) --- */
@media (max-width: 768px) {
  .menuButton {
    display: block; /* Aparece la hamburguesa */
  }

  /* El menú ahora es una caja flotante */
  .nav {
    display: none; /* Se esconde por defecto */
    flex-direction: column;
    position: absolute;
    top: 100%; /* Justo debajo del header */
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    gap: 15px;
  }

  /* Esta clase se activa con el click en React */
  .nav.navOpen {
    display: flex;
  }

  .nav a {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
}
